* {
    font-display: optional;
    font-family: 'Inter', Helvetica, sans-serif;
    /* background-color: #ffff0033; */
}

body {
    padding: 0;
    margin: 0;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    height: 100vh;
    border-collapse: collapse;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 14vh;
    text-align: center;
    background-color: #ffff0033;
}

.titleLocation {
    padding-top: 7px;
    margin: 5px;
}
.titleDate {
    margin: 0px;
}

.tide {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

.t0 {
    /* background-color: #13293d; */
    background: linear-gradient(180deg, #e8f1f2, #13293d);
    /* border-style: solid; */
    /* border-width: thin; */
    box-shadow: 1px 0 0 0 #888, 0 1px 0 0 #888, 1px 1px 0 0 #888,
        /* Just to fix the corner */ 1px 0 0 0 #888 inset, 0 1px 0 0 #888 inset;
}
.t1 {
    /* background-color: #006494; */
    background: linear-gradient(180deg, #e8f1f2, #006494);
    /* border-style: solid; */
    /* border-width: thin; */
    box-shadow: 1px 0 0 0 #888, 0 1px 0 0 #888, 1px 1px 0 0 #888,
        /* Just to fix the corner */ 1px 0 0 0 #888 inset, 0 1px 0 0 #888 inset;
}
.t2 {
    /* background-color: #247ba0; */
    background: linear-gradient(180deg, #006494, #247ba0);
    /* border-style: solid; */
    /* border-width: thin; */
    box-shadow: 1px 0 0 0 #888, 0 1px 0 0 #888, 1px 1px 0 0 #888,
        /* Just to fix the corner */ 1px 0 0 0 #888 inset, 0 1px 0 0 #888 inset;
}
.t3 {
    /* background-color: #1b98e0; */
    background: linear-gradient(180deg, #247ba0, #1b98e0);
    /* border-style: solid;
    border-width: thin; */
    box-shadow: 1px 0 0 0 #888, 0 1px 0 0 #888, 1px 1px 0 0 #888,
        /* Just to fix the corner */ 1px 0 0 0 #888 inset, 0 1px 0 0 #888 inset;
}
.t4 {
    /* background-color: #e8f1f2; */
    background: linear-gradient(180deg, #1b98e0, #e8f1f2);
    /* border-style: solid; */
    /* border-width: thin; */
    box-shadow: 1px 0 0 0 #888, 0 1px 0 0 #888, 1px 1px 0 0 #888,
        /* Just to fix the corner */ 1px 0 0 0 #888 inset, 0 1px 0 0 #888 inset;
}

.spanTime {
    font-size: small;
}

.selectedTide {
    flex-direction: column;
}

.selectedTidePercentage {
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-size: xxx-large;
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: medium;
    }
}
